[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/beto-mn/client-gateway
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/beto-mn/orders-microservice
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/beto-mn/products-microservice
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/beto-mn/payments-microservice
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/beto-mn/auth-microservice
